name: Update Naukri Profile

on:
  schedule:
    - cron: "*/30 * * * *"  # Runs every 30 minute
  workflow_dispatch:

jobs:
  update_naukri:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      
     

      - name: Install dependencies
        run: npm install    
      - name: Install Playwright Browsers
        run: npx playwright install
          
      - name: Run Naukri agent
        run: node agent.js
        env:
          NAUKRI_USER: ${{ secrets.NAUKRI_USER }}
          NAUKRI_PASS: ${{ secrets.NAUKRI_PASS }}
        